// Add your custom CSS here.
.__tecidos .product-card__name::after {
  content: "(50cm)"
}
a[data-intermediator=paypal] .payment__badges:after {
  content: "Até 6x sem juros";
  background: #17a2b8;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  color: #fff
}
